In [1]:
import pandas as pd

# Recent Oscar winners
movie_data = {
  'title': ['Parasite', 'Nomadland', 'CODA', 'Everything Everywhere All at Once', 'Oppenheimer', 'Anora'],
  'release_date': ['2019-05-30', '2020-09-11', '2021-01-28', '2022-03-11', '2023-07-21', '2024-05-24'],
  'genre': ['Thriller', 'Drama', 'Drama',  'Action', 'Biography', 'Drama'],
  'studio': ['CJ Entertainment', 'Searchlight Pictures', 'Apple TV+', 'A24', 'Universal Pictures', 'A24'],
  'budget': [11400000, 5000000, 10000000, 25000000, 100000000, 3000000],
  'box_office': [263000000, 39000000, 1900000, 143000000, 975000000, 57000000],
  'runtime_minutes': [132, 108, 111, 139, 180, 98],
  'rating': [8.5, 7.3, 8.0, 8.0, 8.6, 8.1]
}

# Create the DataFrame
movies = pd.DataFrame(movie_data)

In [2]:
movies

,title,release_date,genre,studio,budget,box_office,runtime_minutes,rating
0,Parasite,2019-05-30,Thriller,CJ Entertainment,11400000,263000000,132,8.5
1,Nomadland,2020-09-11,Drama,Searchlight Pictures,5000000,39000000,108,7.3
2,CODA,2021-01-28,Drama,Apple TV+,10000000,1900000,111,8.0
3,Everything Everywhere All at Once,2022-03-11,Action,A24,25000000,143000000,139,8.0
4,Oppenheimer,2023-07-21,Biography,Universal Pictures,100000000,975000000,180,8.6
5,Anora,2024-05-24,Drama,A24,3000000,57000000,98,8.1

In [3]:
# What month is the best month to release a movie?
# What month is the worst?
# Which film studio has the highest average profit?